zig-cache
.vscode*
.helix*
.idea*
*.exe
**/.DS_Store
generator/**/*.zig
generator/**/protoc-gen-zig*
zig-out
generator/protoc-gen-main
dcl
protocol
tests/.generated
debug
.zig-cache
.specstory/*
test.data
benchmark/generated/**/*

# nix devenv
devenv.nix
devenv.yaml
devenv.lock
.envrc
*.nix
.devenv
zig-pkg/*